@{
    ViewData["Title"] = "Home Page";
}

<div class=text-center>
    <h1 class=text-primary>Welcome to SoftUni Twitter</h1>     
    <p>Create a new tweet <a href="/Tweets/Create">here</a>.</p>
</div>
